body {
	font-family: "Menlo";
	overflow: hidden;
	padding: 0; 
	margin: 0;
}

a:link {
    color: #f06;
}
a:visited {
    color: #f06;
}
a:hover {
    color: #eee;
}
a:active {
    color: #00f;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(200, 200, 200, 1.0);
}

#sketchPane, #editorPane {
    position: absolute;
    top: 0;   
}

#sketchPane {
	width:100%;
}


#editorPane {
    width:560px;
}

#editorPane {
    z-index: 10;
}

#editor {
    height:720px;
	background: rgba(0, 0, 0, 0.5);
}

#myP5 {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#editorControl {
	
}

#navlist {
	margin:0;
	padding:0;
	padding-left:15px;

}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-left: 5px;
	padding-right: 5px;
	background-color:#222;
}

#thumbs {
	position:relative;
}

.sketchThumb {
	display:inline-block;
	float:left;
	margin:5px;
	padding:10px;
	background-color:#ccc;
	cursor: pointer;
}

.sketchThumb:hover {
	background-color:#f06;
}

#browsenav {
	padding:6px;
}

#savingNote {
	background-color:#f00;
}